<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a79e9f">  <td>18/02/05 23:49:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001.TC1()[pri:0, instance:com.testing.TC001@a9e816]">TC1</td> 
  <td>TestNG@22912558</td>   <td></td> </tr>
<tr bgcolor="a79e9f">  <td>18/02/05 23:49:39</td>   <td>-7517</td> <td>&nbsp;</td><td title="&gt;&gt;TC001.setup()[pri:0, instance:com.testing.TC001@a9e816]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@22912558</td>   <td></td> </tr>
<tr bgcolor="a79e9f">  <td>18/02/05 23:49:58</td>   <td>11573</td> <td>&nbsp;</td><td title="&lt;&lt;TC001.tearDown()[pri:0, instance:com.testing.TC001@a9e816]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@22912558</td>   <td></td> </tr>
</table>
